.b--blue-casper {
  border-color: #B0B6B7;
}

.b--blue-river-bed {
  border-color: #515E5F;
}

.b--blue-submarine {
  border-color: #929A9B;
}

.b--green-dark-slate {
  border-color: #404c4d;
}

.b--green-light-sea {
  border-color: #11A7AA;
}

.b--grey-athens {
  border-color: #DFE1E1;
}

.b--grey-hit {
  border-color: #a2a7a8;
}

.b--grey-lily-white {
  border-color: #F4F6F6;
}

.b--grey-oslo {
  border-color: #808889;
}

.b--grey-zumthor {
  border-color: #D3D6D7;
}

.b--transparent {
  border-color: transparent;
}

.b--white {
  border-color: #FFFFFF;
}