.proxima-nova-bold {
  font-family: ProximaNova-Bold;
}

.proxima-nova {
  font-family: Proxima Nova;
}

.proxima-nova-semibold {
  font-family: ProximaNova-Semibold;
}

.proxima-nova-regular {
  font-family: ProximaNova-Regular;
}