.blue-casper {
  color: #B0B6B7;
}

.blue-river-bed {
  color: #515E5F;
}

.blue-submarine {
  color: #929A9B;
}

.green-dark-slate {
  color: #404c4d;
}

.green-light-sea {
  color: #11A7AA;
}

.grey-athens {
  color: #DFE1E1;
}

.grey-hit {
  color: #a2a7a8;
}

.grey-lily-white {
  color: #F4F6F6;
}

.grey-oslo {
  color: #808889;
}

.grey-zumthor {
  color: #D3D6D7;
}

.transparent {
  color: transparent;
}

.white {
  color: #FFFFFF;
}

.bg-blue-casper {
  background: #B0B6B7;
}

.bg-blue-river-bed {
  background: #515E5F;
}

.bg-blue-submarine {
  background: #929A9B;
}

.bg-green-dark-slate {
  background: #404c4d;
}

.bg-green-light-sea {
  background: #11A7AA;
}

.bg-grey-athens {
  background: #DFE1E1;
}

.bg-grey-hit {
  background: #a2a7a8;
}

.bg-grey-lily-white {
  background: #F4F6F6;
}

.bg-grey-oslo {
  background: #808889;
}

.bg-grey-zumthor {
  background: #D3D6D7;
}

.bg-transparent {
  background: transparent;
}

.bg-white {
  background: #FFFFFF;
}