.ma0 {
  margin: 0px;
}

.ma1 {
  margin: 1px;
}

.ma2 {
  margin: 6px;
}

.ma3 {
  margin: 10px;
}

.ma4 {
  margin: 12px;
}

.ma5 {
  margin: 14px;
}

.ma6 {
  margin: 20px;
}

.ma7 {
  margin: 30px;
}

.ma8 {
  margin: 54px;
}

.ma9 {
  margin: 87px;
}

.ma10 {
  margin: 140px;
}

.mv0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mt0 {
  margin-top: 0px;
}

.mv1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mt1 {
  margin-top: 1px;
}

.mv2 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mt2 {
  margin-top: 6px;
}

.mv3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mt3 {
  margin-top: 10px;
}

.mv4 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mt4 {
  margin-top: 12px;
}

.mv5 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mt5 {
  margin-top: 14px;
}

.mv6 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mt6 {
  margin-top: 20px;
}

.mv7 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mt7 {
  margin-top: 30px;
}

.mv8 {
  margin-top: 54px;
  margin-bottom: 54px;
}

.mt8 {
  margin-top: 54px;
}

.mv9 {
  margin-top: 87px;
  margin-bottom: 87px;
}

.mt9 {
  margin-top: 87px;
}

.mv10 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.mt10 {
  margin-top: 140px;
}

.mr0 {
  margin-right: 0px;
}

.mr1 {
  margin-right: 1px;
}

.mr2 {
  margin-right: 6px;
}

.mr3 {
  margin-right: 10px;
}

.mr4 {
  margin-right: 12px;
}

.mr5 {
  margin-right: 14px;
}

.mr6 {
  margin-right: 20px;
}

.mr7 {
  margin-right: 30px;
}

.mr8 {
  margin-right: 54px;
}

.mr9 {
  margin-right: 87px;
}

.mr10 {
  margin-right: 140px;
}

.mb0 {
  margin-bottom: 0px;
}

.mb1 {
  margin-bottom: 1px;
}

.mb2 {
  margin-bottom: 6px;
}

.mb3 {
  margin-bottom: 10px;
}

.mb4 {
  margin-bottom: 12px;
}

.mb5 {
  margin-bottom: 14px;
}

.mb6 {
  margin-bottom: 20px;
}

.mb7 {
  margin-bottom: 30px;
}

.mb8 {
  margin-bottom: 54px;
}

.mb9 {
  margin-bottom: 87px;
}

.mb10 {
  margin-bottom: 140px;
}

.mh0 {
  margin-left: 0px;
  margin-right: 0px;
}

.ml0 {
  margin-left: 0px;
}

.mh1 {
  margin-left: 1px;
  margin-right: 1px;
}

.ml1 {
  margin-left: 1px;
}

.mh2 {
  margin-left: 6px;
  margin-right: 6px;
}

.ml2 {
  margin-left: 6px;
}

.mh3 {
  margin-left: 10px;
  margin-right: 10px;
}

.ml3 {
  margin-left: 10px;
}

.mh4 {
  margin-left: 12px;
  margin-right: 12px;
}

.ml4 {
  margin-left: 12px;
}

.mh5 {
  margin-left: 14px;
  margin-right: 14px;
}

.ml5 {
  margin-left: 14px;
}

.mh6 {
  margin-left: 20px;
  margin-right: 20px;
}

.ml6 {
  margin-left: 20px;
}

.mh7 {
  margin-left: 30px;
  margin-right: 30px;
}

.ml7 {
  margin-left: 30px;
}

.mh8 {
  margin-left: 54px;
  margin-right: 54px;
}

.ml8 {
  margin-left: 54px;
}

.mh9 {
  margin-left: 87px;
  margin-right: 87px;
}

.ml9 {
  margin-left: 87px;
}

.mh10 {
  margin-left: 140px;
  margin-right: 140px;
}

.ml10 {
  margin-left: 140px;
}

.pa0 {
  padding: 0px;
}

.pa1 {
  padding: 1px;
}

.pa2 {
  padding: 6px;
}

.pa3 {
  padding: 10px;
}

.pa4 {
  padding: 12px;
}

.pa5 {
  padding: 14px;
}

.pa6 {
  padding: 20px;
}

.pa7 {
  padding: 30px;
}

.pa8 {
  padding: 54px;
}

.pa9 {
  padding: 87px;
}

.pa10 {
  padding: 140px;
}

.pv0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.pt0 {
  padding-top: 0px;
}

.pv1 {
  padding-top: 1px;
  padding-bottom: 1px;
}

.pt1 {
  padding-top: 1px;
}

.pv2 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.pt2 {
  padding-top: 6px;
}

.pv3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pt3 {
  padding-top: 10px;
}

.pv4 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pt4 {
  padding-top: 12px;
}

.pv5 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.pt5 {
  padding-top: 14px;
}

.pv6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pt6 {
  padding-top: 20px;
}

.pv7 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pt7 {
  padding-top: 30px;
}

.pv8 {
  padding-top: 54px;
  padding-bottom: 54px;
}

.pt8 {
  padding-top: 54px;
}

.pv9 {
  padding-top: 87px;
  padding-bottom: 87px;
}

.pt9 {
  padding-top: 87px;
}

.pv10 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.pt10 {
  padding-top: 140px;
}

.pr0 {
  padding-right: 0px;
}

.pr1 {
  padding-right: 1px;
}

.pr2 {
  padding-right: 6px;
}

.pr3 {
  padding-right: 10px;
}

.pr4 {
  padding-right: 12px;
}

.pr5 {
  padding-right: 14px;
}

.pr6 {
  padding-right: 20px;
}

.pr7 {
  padding-right: 30px;
}

.pr8 {
  padding-right: 54px;
}

.pr9 {
  padding-right: 87px;
}

.pr10 {
  padding-right: 140px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb1 {
  padding-bottom: 1px;
}

.pb2 {
  padding-bottom: 6px;
}

.pb3 {
  padding-bottom: 10px;
}

.pb4 {
  padding-bottom: 12px;
}

.pb5 {
  padding-bottom: 14px;
}

.pb6 {
  padding-bottom: 20px;
}

.pb7 {
  padding-bottom: 30px;
}

.pb8 {
  padding-bottom: 54px;
}

.pb9 {
  padding-bottom: 87px;
}

.pb10 {
  padding-bottom: 140px;
}

.ph0 {
  padding-left: 0px;
  padding-right: 0px;
}

.pl0 {
  padding-left: 0px;
}

.ph1 {
  padding-left: 1px;
  padding-right: 1px;
}

.pl1 {
  padding-left: 1px;
}

.ph2 {
  padding-left: 6px;
  padding-right: 6px;
}

.pl2 {
  padding-left: 6px;
}

.ph3 {
  padding-left: 10px;
  padding-right: 10px;
}

.pl3 {
  padding-left: 10px;
}

.ph4 {
  padding-left: 12px;
  padding-right: 12px;
}

.pl4 {
  padding-left: 12px;
}

.ph5 {
  padding-left: 14px;
  padding-right: 14px;
}

.pl5 {
  padding-left: 14px;
}

.ph6 {
  padding-left: 20px;
  padding-right: 20px;
}

.pl6 {
  padding-left: 20px;
}

.ph7 {
  padding-left: 30px;
  padding-right: 30px;
}

.pl7 {
  padding-left: 30px;
}

.ph8 {
  padding-left: 54px;
  padding-right: 54px;
}

.pl8 {
  padding-left: 54px;
}

.ph9 {
  padding-left: 87px;
  padding-right: 87px;
}

.pl9 {
  padding-left: 87px;
}

.ph10 {
  padding-left: 140px;
  padding-right: 140px;
}

.pl10 {
  padding-left: 140px;
}

@media screen and (min-width: 480px) {
  .ma0-ns {
    margin: 0px;
  }

  .ma1-ns {
    margin: 1px;
  }

  .ma2-ns {
    margin: 6px;
  }

  .ma3-ns {
    margin: 10px;
  }

  .ma4-ns {
    margin: 12px;
  }

  .ma5-ns {
    margin: 14px;
  }

  .ma6-ns {
    margin: 20px;
  }

  .ma7-ns {
    margin: 30px;
  }

  .ma8-ns {
    margin: 54px;
  }

  .ma9-ns {
    margin: 87px;
  }

  .ma10-ns {
    margin: 140px;
  }

  .mv0-ns {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mt0-ns {
    margin-top: 0px;
  }

  .mv1-ns {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .mt1-ns {
    margin-top: 1px;
  }

  .mv2-ns {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .mt2-ns {
    margin-top: 6px;
  }

  .mv3-ns {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mt3-ns {
    margin-top: 10px;
  }

  .mv4-ns {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .mt4-ns {
    margin-top: 12px;
  }

  .mv5-ns {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .mt5-ns {
    margin-top: 14px;
  }

  .mv6-ns {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mt6-ns {
    margin-top: 20px;
  }

  .mv7-ns {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mt7-ns {
    margin-top: 30px;
  }

  .mv8-ns {
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .mt8-ns {
    margin-top: 54px;
  }

  .mv9-ns {
    margin-top: 87px;
    margin-bottom: 87px;
  }

  .mt9-ns {
    margin-top: 87px;
  }

  .mv10-ns {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .mt10-ns {
    margin-top: 140px;
  }

  .mr0-ns {
    margin-right: 0px;
  }

  .mr1-ns {
    margin-right: 1px;
  }

  .mr2-ns {
    margin-right: 6px;
  }

  .mr3-ns {
    margin-right: 10px;
  }

  .mr4-ns {
    margin-right: 12px;
  }

  .mr5-ns {
    margin-right: 14px;
  }

  .mr6-ns {
    margin-right: 20px;
  }

  .mr7-ns {
    margin-right: 30px;
  }

  .mr8-ns {
    margin-right: 54px;
  }

  .mr9-ns {
    margin-right: 87px;
  }

  .mr10-ns {
    margin-right: 140px;
  }

  .mb0-ns {
    margin-bottom: 0px;
  }

  .mb1-ns {
    margin-bottom: 1px;
  }

  .mb2-ns {
    margin-bottom: 6px;
  }

  .mb3-ns {
    margin-bottom: 10px;
  }

  .mb4-ns {
    margin-bottom: 12px;
  }

  .mb5-ns {
    margin-bottom: 14px;
  }

  .mb6-ns {
    margin-bottom: 20px;
  }

  .mb7-ns {
    margin-bottom: 30px;
  }

  .mb8-ns {
    margin-bottom: 54px;
  }

  .mb9-ns {
    margin-bottom: 87px;
  }

  .mb10-ns {
    margin-bottom: 140px;
  }

  .mh0-ns {
    margin-left: 0px;
    margin-right: 0px;
  }

  .ml0-ns {
    margin-left: 0px;
  }

  .mh1-ns {
    margin-left: 1px;
    margin-right: 1px;
  }

  .ml1-ns {
    margin-left: 1px;
  }

  .mh2-ns {
    margin-left: 6px;
    margin-right: 6px;
  }

  .ml2-ns {
    margin-left: 6px;
  }

  .mh3-ns {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ml3-ns {
    margin-left: 10px;
  }

  .mh4-ns {
    margin-left: 12px;
    margin-right: 12px;
  }

  .ml4-ns {
    margin-left: 12px;
  }

  .mh5-ns {
    margin-left: 14px;
    margin-right: 14px;
  }

  .ml5-ns {
    margin-left: 14px;
  }

  .mh6-ns {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ml6-ns {
    margin-left: 20px;
  }

  .mh7-ns {
    margin-left: 30px;
    margin-right: 30px;
  }

  .ml7-ns {
    margin-left: 30px;
  }

  .mh8-ns {
    margin-left: 54px;
    margin-right: 54px;
  }

  .ml8-ns {
    margin-left: 54px;
  }

  .mh9-ns {
    margin-left: 87px;
    margin-right: 87px;
  }

  .ml9-ns {
    margin-left: 87px;
  }

  .mh10-ns {
    margin-left: 140px;
    margin-right: 140px;
  }

  .ml10-ns {
    margin-left: 140px;
  }

  .pa0-ns {
    padding: 0px;
  }

  .pa1-ns {
    padding: 1px;
  }

  .pa2-ns {
    padding: 6px;
  }

  .pa3-ns {
    padding: 10px;
  }

  .pa4-ns {
    padding: 12px;
  }

  .pa5-ns {
    padding: 14px;
  }

  .pa6-ns {
    padding: 20px;
  }

  .pa7-ns {
    padding: 30px;
  }

  .pa8-ns {
    padding: 54px;
  }

  .pa9-ns {
    padding: 87px;
  }

  .pa10-ns {
    padding: 140px;
  }

  .pv0-ns {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pt0-ns {
    padding-top: 0px;
  }

  .pv1-ns {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .pt1-ns {
    padding-top: 1px;
  }

  .pv2-ns {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .pt2-ns {
    padding-top: 6px;
  }

  .pv3-ns {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pt3-ns {
    padding-top: 10px;
  }

  .pv4-ns {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .pt4-ns {
    padding-top: 12px;
  }

  .pv5-ns {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .pt5-ns {
    padding-top: 14px;
  }

  .pv6-ns {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pt6-ns {
    padding-top: 20px;
  }

  .pv7-ns {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pt7-ns {
    padding-top: 30px;
  }

  .pv8-ns {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .pt8-ns {
    padding-top: 54px;
  }

  .pv9-ns {
    padding-top: 87px;
    padding-bottom: 87px;
  }

  .pt9-ns {
    padding-top: 87px;
  }

  .pv10-ns {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .pt10-ns {
    padding-top: 140px;
  }

  .pr0-ns {
    padding-right: 0px;
  }

  .pr1-ns {
    padding-right: 1px;
  }

  .pr2-ns {
    padding-right: 6px;
  }

  .pr3-ns {
    padding-right: 10px;
  }

  .pr4-ns {
    padding-right: 12px;
  }

  .pr5-ns {
    padding-right: 14px;
  }

  .pr6-ns {
    padding-right: 20px;
  }

  .pr7-ns {
    padding-right: 30px;
  }

  .pr8-ns {
    padding-right: 54px;
  }

  .pr9-ns {
    padding-right: 87px;
  }

  .pr10-ns {
    padding-right: 140px;
  }

  .pb0-ns {
    padding-bottom: 0px;
  }

  .pb1-ns {
    padding-bottom: 1px;
  }

  .pb2-ns {
    padding-bottom: 6px;
  }

  .pb3-ns {
    padding-bottom: 10px;
  }

  .pb4-ns {
    padding-bottom: 12px;
  }

  .pb5-ns {
    padding-bottom: 14px;
  }

  .pb6-ns {
    padding-bottom: 20px;
  }

  .pb7-ns {
    padding-bottom: 30px;
  }

  .pb8-ns {
    padding-bottom: 54px;
  }

  .pb9-ns {
    padding-bottom: 87px;
  }

  .pb10-ns {
    padding-bottom: 140px;
  }

  .ph0-ns {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pl0-ns {
    padding-left: 0px;
  }

  .ph1-ns {
    padding-left: 1px;
    padding-right: 1px;
  }

  .pl1-ns {
    padding-left: 1px;
  }

  .ph2-ns {
    padding-left: 6px;
    padding-right: 6px;
  }

  .pl2-ns {
    padding-left: 6px;
  }

  .ph3-ns {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pl3-ns {
    padding-left: 10px;
  }

  .ph4-ns {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pl4-ns {
    padding-left: 12px;
  }

  .ph5-ns {
    padding-left: 14px;
    padding-right: 14px;
  }

  .pl5-ns {
    padding-left: 14px;
  }

  .ph6-ns {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pl6-ns {
    padding-left: 20px;
  }

  .ph7-ns {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pl7-ns {
    padding-left: 30px;
  }

  .ph8-ns {
    padding-left: 54px;
    padding-right: 54px;
  }

  .pl8-ns {
    padding-left: 54px;
  }

  .ph9-ns {
    padding-left: 87px;
    padding-right: 87px;
  }

  .pl9-ns {
    padding-left: 87px;
  }

  .ph10-ns {
    padding-left: 140px;
    padding-right: 140px;
  }

  .pl10-ns {
    padding-left: 140px;
  }
}

@media screen and (min-width: 480px) and (max-width: 960px) {
  .ma0-m {
    margin: 0px;
  }

  .ma1-m {
    margin: 1px;
  }

  .ma2-m {
    margin: 6px;
  }

  .ma3-m {
    margin: 10px;
  }

  .ma4-m {
    margin: 12px;
  }

  .ma5-m {
    margin: 14px;
  }

  .ma6-m {
    margin: 20px;
  }

  .ma7-m {
    margin: 30px;
  }

  .ma8-m {
    margin: 54px;
  }

  .ma9-m {
    margin: 87px;
  }

  .ma10-m {
    margin: 140px;
  }

  .mv0-m {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mt0-m {
    margin-top: 0px;
  }

  .mv1-m {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .mt1-m {
    margin-top: 1px;
  }

  .mv2-m {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .mt2-m {
    margin-top: 6px;
  }

  .mv3-m {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mt3-m {
    margin-top: 10px;
  }

  .mv4-m {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .mt4-m {
    margin-top: 12px;
  }

  .mv5-m {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .mt5-m {
    margin-top: 14px;
  }

  .mv6-m {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mt6-m {
    margin-top: 20px;
  }

  .mv7-m {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mt7-m {
    margin-top: 30px;
  }

  .mv8-m {
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .mt8-m {
    margin-top: 54px;
  }

  .mv9-m {
    margin-top: 87px;
    margin-bottom: 87px;
  }

  .mt9-m {
    margin-top: 87px;
  }

  .mv10-m {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .mt10-m {
    margin-top: 140px;
  }

  .mr0-m {
    margin-right: 0px;
  }

  .mr1-m {
    margin-right: 1px;
  }

  .mr2-m {
    margin-right: 6px;
  }

  .mr3-m {
    margin-right: 10px;
  }

  .mr4-m {
    margin-right: 12px;
  }

  .mr5-m {
    margin-right: 14px;
  }

  .mr6-m {
    margin-right: 20px;
  }

  .mr7-m {
    margin-right: 30px;
  }

  .mr8-m {
    margin-right: 54px;
  }

  .mr9-m {
    margin-right: 87px;
  }

  .mr10-m {
    margin-right: 140px;
  }

  .mb0-m {
    margin-bottom: 0px;
  }

  .mb1-m {
    margin-bottom: 1px;
  }

  .mb2-m {
    margin-bottom: 6px;
  }

  .mb3-m {
    margin-bottom: 10px;
  }

  .mb4-m {
    margin-bottom: 12px;
  }

  .mb5-m {
    margin-bottom: 14px;
  }

  .mb6-m {
    margin-bottom: 20px;
  }

  .mb7-m {
    margin-bottom: 30px;
  }

  .mb8-m {
    margin-bottom: 54px;
  }

  .mb9-m {
    margin-bottom: 87px;
  }

  .mb10-m {
    margin-bottom: 140px;
  }

  .mh0-m {
    margin-left: 0px;
    margin-right: 0px;
  }

  .ml0-m {
    margin-left: 0px;
  }

  .mh1-m {
    margin-left: 1px;
    margin-right: 1px;
  }

  .ml1-m {
    margin-left: 1px;
  }

  .mh2-m {
    margin-left: 6px;
    margin-right: 6px;
  }

  .ml2-m {
    margin-left: 6px;
  }

  .mh3-m {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ml3-m {
    margin-left: 10px;
  }

  .mh4-m {
    margin-left: 12px;
    margin-right: 12px;
  }

  .ml4-m {
    margin-left: 12px;
  }

  .mh5-m {
    margin-left: 14px;
    margin-right: 14px;
  }

  .ml5-m {
    margin-left: 14px;
  }

  .mh6-m {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ml6-m {
    margin-left: 20px;
  }

  .mh7-m {
    margin-left: 30px;
    margin-right: 30px;
  }

  .ml7-m {
    margin-left: 30px;
  }

  .mh8-m {
    margin-left: 54px;
    margin-right: 54px;
  }

  .ml8-m {
    margin-left: 54px;
  }

  .mh9-m {
    margin-left: 87px;
    margin-right: 87px;
  }

  .ml9-m {
    margin-left: 87px;
  }

  .mh10-m {
    margin-left: 140px;
    margin-right: 140px;
  }

  .ml10-m {
    margin-left: 140px;
  }

  .pa0-m {
    padding: 0px;
  }

  .pa1-m {
    padding: 1px;
  }

  .pa2-m {
    padding: 6px;
  }

  .pa3-m {
    padding: 10px;
  }

  .pa4-m {
    padding: 12px;
  }

  .pa5-m {
    padding: 14px;
  }

  .pa6-m {
    padding: 20px;
  }

  .pa7-m {
    padding: 30px;
  }

  .pa8-m {
    padding: 54px;
  }

  .pa9-m {
    padding: 87px;
  }

  .pa10-m {
    padding: 140px;
  }

  .pv0-m {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pt0-m {
    padding-top: 0px;
  }

  .pv1-m {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .pt1-m {
    padding-top: 1px;
  }

  .pv2-m {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .pt2-m {
    padding-top: 6px;
  }

  .pv3-m {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pt3-m {
    padding-top: 10px;
  }

  .pv4-m {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .pt4-m {
    padding-top: 12px;
  }

  .pv5-m {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .pt5-m {
    padding-top: 14px;
  }

  .pv6-m {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pt6-m {
    padding-top: 20px;
  }

  .pv7-m {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pt7-m {
    padding-top: 30px;
  }

  .pv8-m {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .pt8-m {
    padding-top: 54px;
  }

  .pv9-m {
    padding-top: 87px;
    padding-bottom: 87px;
  }

  .pt9-m {
    padding-top: 87px;
  }

  .pv10-m {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .pt10-m {
    padding-top: 140px;
  }

  .pr0-m {
    padding-right: 0px;
  }

  .pr1-m {
    padding-right: 1px;
  }

  .pr2-m {
    padding-right: 6px;
  }

  .pr3-m {
    padding-right: 10px;
  }

  .pr4-m {
    padding-right: 12px;
  }

  .pr5-m {
    padding-right: 14px;
  }

  .pr6-m {
    padding-right: 20px;
  }

  .pr7-m {
    padding-right: 30px;
  }

  .pr8-m {
    padding-right: 54px;
  }

  .pr9-m {
    padding-right: 87px;
  }

  .pr10-m {
    padding-right: 140px;
  }

  .pb0-m {
    padding-bottom: 0px;
  }

  .pb1-m {
    padding-bottom: 1px;
  }

  .pb2-m {
    padding-bottom: 6px;
  }

  .pb3-m {
    padding-bottom: 10px;
  }

  .pb4-m {
    padding-bottom: 12px;
  }

  .pb5-m {
    padding-bottom: 14px;
  }

  .pb6-m {
    padding-bottom: 20px;
  }

  .pb7-m {
    padding-bottom: 30px;
  }

  .pb8-m {
    padding-bottom: 54px;
  }

  .pb9-m {
    padding-bottom: 87px;
  }

  .pb10-m {
    padding-bottom: 140px;
  }

  .ph0-m {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pl0-m {
    padding-left: 0px;
  }

  .ph1-m {
    padding-left: 1px;
    padding-right: 1px;
  }

  .pl1-m {
    padding-left: 1px;
  }

  .ph2-m {
    padding-left: 6px;
    padding-right: 6px;
  }

  .pl2-m {
    padding-left: 6px;
  }

  .ph3-m {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pl3-m {
    padding-left: 10px;
  }

  .ph4-m {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pl4-m {
    padding-left: 12px;
  }

  .ph5-m {
    padding-left: 14px;
    padding-right: 14px;
  }

  .pl5-m {
    padding-left: 14px;
  }

  .ph6-m {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pl6-m {
    padding-left: 20px;
  }

  .ph7-m {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pl7-m {
    padding-left: 30px;
  }

  .ph8-m {
    padding-left: 54px;
    padding-right: 54px;
  }

  .pl8-m {
    padding-left: 54px;
  }

  .ph9-m {
    padding-left: 87px;
    padding-right: 87px;
  }

  .pl9-m {
    padding-left: 87px;
  }

  .ph10-m {
    padding-left: 140px;
    padding-right: 140px;
  }

  .pl10-m {
    padding-left: 140px;
  }
}

@media screen and (min-width: 960px) {
  .ma0-l {
    margin: 0px;
  }

  .ma1-l {
    margin: 1px;
  }

  .ma2-l {
    margin: 6px;
  }

  .ma3-l {
    margin: 10px;
  }

  .ma4-l {
    margin: 12px;
  }

  .ma5-l {
    margin: 14px;
  }

  .ma6-l {
    margin: 20px;
  }

  .ma7-l {
    margin: 30px;
  }

  .ma8-l {
    margin: 54px;
  }

  .ma9-l {
    margin: 87px;
  }

  .ma10-l {
    margin: 140px;
  }

  .mv0-l {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .mt0-l {
    margin-top: 0px;
  }

  .mv1-l {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .mt1-l {
    margin-top: 1px;
  }

  .mv2-l {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .mt2-l {
    margin-top: 6px;
  }

  .mv3-l {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mt3-l {
    margin-top: 10px;
  }

  .mv4-l {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .mt4-l {
    margin-top: 12px;
  }

  .mv5-l {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .mt5-l {
    margin-top: 14px;
  }

  .mv6-l {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .mt6-l {
    margin-top: 20px;
  }

  .mv7-l {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .mt7-l {
    margin-top: 30px;
  }

  .mv8-l {
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .mt8-l {
    margin-top: 54px;
  }

  .mv9-l {
    margin-top: 87px;
    margin-bottom: 87px;
  }

  .mt9-l {
    margin-top: 87px;
  }

  .mv10-l {
    margin-top: 140px;
    margin-bottom: 140px;
  }

  .mt10-l {
    margin-top: 140px;
  }

  .mr0-l {
    margin-right: 0px;
  }

  .mr1-l {
    margin-right: 1px;
  }

  .mr2-l {
    margin-right: 6px;
  }

  .mr3-l {
    margin-right: 10px;
  }

  .mr4-l {
    margin-right: 12px;
  }

  .mr5-l {
    margin-right: 14px;
  }

  .mr6-l {
    margin-right: 20px;
  }

  .mr7-l {
    margin-right: 30px;
  }

  .mr8-l {
    margin-right: 54px;
  }

  .mr9-l {
    margin-right: 87px;
  }

  .mr10-l {
    margin-right: 140px;
  }

  .mb0-l {
    margin-bottom: 0px;
  }

  .mb1-l {
    margin-bottom: 1px;
  }

  .mb2-l {
    margin-bottom: 6px;
  }

  .mb3-l {
    margin-bottom: 10px;
  }

  .mb4-l {
    margin-bottom: 12px;
  }

  .mb5-l {
    margin-bottom: 14px;
  }

  .mb6-l {
    margin-bottom: 20px;
  }

  .mb7-l {
    margin-bottom: 30px;
  }

  .mb8-l {
    margin-bottom: 54px;
  }

  .mb9-l {
    margin-bottom: 87px;
  }

  .mb10-l {
    margin-bottom: 140px;
  }

  .mh0-l {
    margin-left: 0px;
    margin-right: 0px;
  }

  .ml0-l {
    margin-left: 0px;
  }

  .mh1-l {
    margin-left: 1px;
    margin-right: 1px;
  }

  .ml1-l {
    margin-left: 1px;
  }

  .mh2-l {
    margin-left: 6px;
    margin-right: 6px;
  }

  .ml2-l {
    margin-left: 6px;
  }

  .mh3-l {
    margin-left: 10px;
    margin-right: 10px;
  }

  .ml3-l {
    margin-left: 10px;
  }

  .mh4-l {
    margin-left: 12px;
    margin-right: 12px;
  }

  .ml4-l {
    margin-left: 12px;
  }

  .mh5-l {
    margin-left: 14px;
    margin-right: 14px;
  }

  .ml5-l {
    margin-left: 14px;
  }

  .mh6-l {
    margin-left: 20px;
    margin-right: 20px;
  }

  .ml6-l {
    margin-left: 20px;
  }

  .mh7-l {
    margin-left: 30px;
    margin-right: 30px;
  }

  .ml7-l {
    margin-left: 30px;
  }

  .mh8-l {
    margin-left: 54px;
    margin-right: 54px;
  }

  .ml8-l {
    margin-left: 54px;
  }

  .mh9-l {
    margin-left: 87px;
    margin-right: 87px;
  }

  .ml9-l {
    margin-left: 87px;
  }

  .mh10-l {
    margin-left: 140px;
    margin-right: 140px;
  }

  .ml10-l {
    margin-left: 140px;
  }

  .pa0-l {
    padding: 0px;
  }

  .pa1-l {
    padding: 1px;
  }

  .pa2-l {
    padding: 6px;
  }

  .pa3-l {
    padding: 10px;
  }

  .pa4-l {
    padding: 12px;
  }

  .pa5-l {
    padding: 14px;
  }

  .pa6-l {
    padding: 20px;
  }

  .pa7-l {
    padding: 30px;
  }

  .pa8-l {
    padding: 54px;
  }

  .pa9-l {
    padding: 87px;
  }

  .pa10-l {
    padding: 140px;
  }

  .pv0-l {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .pt0-l {
    padding-top: 0px;
  }

  .pv1-l {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .pt1-l {
    padding-top: 1px;
  }

  .pv2-l {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .pt2-l {
    padding-top: 6px;
  }

  .pv3-l {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .pt3-l {
    padding-top: 10px;
  }

  .pv4-l {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .pt4-l {
    padding-top: 12px;
  }

  .pv5-l {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .pt5-l {
    padding-top: 14px;
  }

  .pv6-l {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .pt6-l {
    padding-top: 20px;
  }

  .pv7-l {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .pt7-l {
    padding-top: 30px;
  }

  .pv8-l {
    padding-top: 54px;
    padding-bottom: 54px;
  }

  .pt8-l {
    padding-top: 54px;
  }

  .pv9-l {
    padding-top: 87px;
    padding-bottom: 87px;
  }

  .pt9-l {
    padding-top: 87px;
  }

  .pv10-l {
    padding-top: 140px;
    padding-bottom: 140px;
  }

  .pt10-l {
    padding-top: 140px;
  }

  .pr0-l {
    padding-right: 0px;
  }

  .pr1-l {
    padding-right: 1px;
  }

  .pr2-l {
    padding-right: 6px;
  }

  .pr3-l {
    padding-right: 10px;
  }

  .pr4-l {
    padding-right: 12px;
  }

  .pr5-l {
    padding-right: 14px;
  }

  .pr6-l {
    padding-right: 20px;
  }

  .pr7-l {
    padding-right: 30px;
  }

  .pr8-l {
    padding-right: 54px;
  }

  .pr9-l {
    padding-right: 87px;
  }

  .pr10-l {
    padding-right: 140px;
  }

  .pb0-l {
    padding-bottom: 0px;
  }

  .pb1-l {
    padding-bottom: 1px;
  }

  .pb2-l {
    padding-bottom: 6px;
  }

  .pb3-l {
    padding-bottom: 10px;
  }

  .pb4-l {
    padding-bottom: 12px;
  }

  .pb5-l {
    padding-bottom: 14px;
  }

  .pb6-l {
    padding-bottom: 20px;
  }

  .pb7-l {
    padding-bottom: 30px;
  }

  .pb8-l {
    padding-bottom: 54px;
  }

  .pb9-l {
    padding-bottom: 87px;
  }

  .pb10-l {
    padding-bottom: 140px;
  }

  .ph0-l {
    padding-left: 0px;
    padding-right: 0px;
  }

  .pl0-l {
    padding-left: 0px;
  }

  .ph1-l {
    padding-left: 1px;
    padding-right: 1px;
  }

  .pl1-l {
    padding-left: 1px;
  }

  .ph2-l {
    padding-left: 6px;
    padding-right: 6px;
  }

  .pl2-l {
    padding-left: 6px;
  }

  .ph3-l {
    padding-left: 10px;
    padding-right: 10px;
  }

  .pl3-l {
    padding-left: 10px;
  }

  .ph4-l {
    padding-left: 12px;
    padding-right: 12px;
  }

  .pl4-l {
    padding-left: 12px;
  }

  .ph5-l {
    padding-left: 14px;
    padding-right: 14px;
  }

  .pl5-l {
    padding-left: 14px;
  }

  .ph6-l {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pl6-l {
    padding-left: 20px;
  }

  .ph7-l {
    padding-left: 30px;
    padding-right: 30px;
  }

  .pl7-l {
    padding-left: 30px;
  }

  .ph8-l {
    padding-left: 54px;
    padding-right: 54px;
  }

  .pl8-l {
    padding-left: 54px;
  }

  .ph9-l {
    padding-left: 87px;
    padding-right: 87px;
  }

  .pl9-l {
    padding-left: 87px;
  }

  .ph10-l {
    padding-left: 140px;
    padding-right: 140px;
  }

  .pl10-l {
    padding-left: 140px;
  }
}