<div >
  <div class="flex">
    <img src="/images/fill_5.svg" style="width: 200px;" />
    <img src="/images/fill_1.svg" style="width: 900px;margin-right: -820px;" />
    <div style="width: 740px;margin-top: 962px;">
      <div class="flex mb3 ml6 lh24" style="width: 700px;color: #515E60;">
        <img
          class="mr6"
          src="/images/fill_54-4.svg"
          style="height: 100px;width: 100px;" />
          <p class="mt1 proxima-nova-semibold f3" style="margin-right: -488px;">
            An Example of a Title That Has Been Balanced and Requires
          <br />
            Two Lines
        </p>
          <p
          class="mt8 proxima-nova-regular f4"
          style="width: 580px;letter-spacing: 0.03px;">
            Notice how additional margin has been added between the title and this excerpt
          to balance the vertical spacing. Notice how additional margin has been added
          between the title and this excerpt to balance the vertical spacing.
        </p>
        </div>
        <div
        class="flex justify-between mb4 ml10 proxima-nova-semibold f7"
        style="width: 580px;">
          <p style="color: #B1B6B7;letter-spacing: -0.23px;">
            <span>
              L</span>
            <span>
              ONG
          </span>
            <span>
              B</span>
            <span>
              YLINE EXAMPLE, B</span>
            <span>
              L</span>
            <span>
              OG.</span>
            <span>
              L</span>
            <span>
              ON</span>
            <span>
              G</span>
            <span>
              TRU</span>
            <span>
              C</span>
            <span>
              A</span>
            <span>
              TEDDOMAIN…</span>
          </p>
          <p class="tr green-light-sea" style="width: 59px;letter-spacing: 0.1px;">
            24 SHARES
        </p>
        </div>
        <img src="/images/stroke_56_Copy-4.svg" style="height: 2px;" />
      </div>
    </div>
  </div>